openapi: 3.1.0

# Hand-written rather than generated, deliberately.
#
# This is a PUBLIC contract consumed by other institutions' systems, so it has
# to stay stable and readable independently of how the control plane happens to
# be implemented. The tenant portal's API is generated by Scramble instead,
# because it is internal and changes with every sprint.
#
# Served at /openapi.yaml. Keep in step with routes/api.php.

info:
  title: SupervisEx Title Registry
  version: 1.0.0
  summary: Cross-institution registry of approved final-year project titles.
  description: |
    A shared record of project titles that have been **approved** at
    participating institutions, so a student at one can find out whether their
    topic has already been done at another.

    Each institution runs an isolated database, so this registry is the only
    place that can answer that question.

    ### What is in here

    Only approved titles. A draft or a rejected proposal is not a claim on a
    topic and is never contributed.

    ### What is deliberately not in here

    Abstracts, authors, supervisors, contact details, and anything identifying
    a student. A lookup returns the title, the institution, the session and the
    year — enough to go and read the work, and nothing more.

    ### Advisory, not authoritative

    A match is a prompt to look, not a verdict. Overlap with earlier work is
    often legitimate — a continuation, a replication, a shared problem domain.
    Nothing here blocks a submission.

  contact:
    name: SupervisEx operators
  license:
    name: Proprietary

servers:
  - url: https://control.supervisex.app
    description: Production
  - url: http://localhost:8001
    description: Local development

tags:
  - name: Lookup
    description: Public, unauthenticated reads.
  - name: Contribution
    description: Writes, authenticated per institution.

paths:
  /api/titles/check:
    get:
      tags: [Lookup]
      summary: Find approved titles resembling one you are considering
      description: |
        Public and unauthenticated: requiring credentials would defeat the
        point of the registry.

        Matching is on a normalised form of the title — lower-cased, with
        punctuation stripped — so casing and punctuation do not hide a match.
        Rate limited to 60 requests per minute per IP.
      operationId: checkTitle
      security: []
      parameters:
        - name: title
          in: query
          required: true
          description: The title to look up.
          schema: { type: string, minLength: 4, maxLength: 255 }
          example: Smart Campus Attendance System
        - name: threshold
          in: query
          required: false
          description: |
            Minimum similarity for a match, 0-1. Lower values return more,
            looser matches. Defaults to 0.75.
          schema: { type: number, minimum: 0.3, maximum: 1, default: 0.75 }
      responses:
        '200':
          description: Matches, possibly none.
          content:
            application/json:
              schema:
                type: object
                required: [data, note]
                properties:
                  data:
                    type: object
                    required: [query, exists, match_count, matches]
                    properties:
                      query:
                        type: string
                        description: The title as submitted.
                      exists:
                        type: boolean
                        description: True when a match is an exact normalised match.
                      match_count: { type: integer }
                      matches:
                        type: array
                        items: { $ref: '#/components/schemas/TitleMatch' }
                  note:
                    type: string
                    description: Plain-language framing of the result.
              examples:
                found:
                  summary: An exact match exists
                  value:
                    data:
                      query: Smart Campus Attendance System
                      exists: true
                      match_count: 1
                      matches:
                        - title: Smart Campus Attendance System
                          institution: Tribhuvan University
                          academic_session: '2024-2025'
                          year: 2024
                          similarity: 1.0
                          is_exact: true
                    note: >-
                      Similar approved projects exist. Overlap may still be
                      fine — read them before deciding.
                none:
                  summary: Nothing similar
                  value:
                    data:
                      query: Groundwater Salinity Mapping in Coastal Wells
                      exists: false
                      match_count: 0
                      matches: []
                    note: No approved project with a similar title was found.
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          description: Rate limit exceeded.

  /api/titles/stats:
    get:
      tags: [Lookup]
      summary: How much is in the registry
      description: Totals only. Discloses nothing about any individual project.
      operationId: registryStats
      security: []
      responses:
        '200':
          description: Registry totals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      titles: { type: integer, example: 1284 }
                      institutions: { type: integer, example: 7 }

  /api/titles:
    post:
      tags: [Contribution]
      summary: Record an approved title
      description: |
        Called by a participating institution when a proposal is **approved**.

        Requires that institution's registry token. The token is a narrow write
        credential: it identifies the contributor and permits nothing else — no
        reads beyond the public endpoint, no visibility of other institutions,
        no access to any database.

        Attribution comes from the token, never from the payload, so an
        institution cannot record under another's name. Posting the same
        `project_id` again updates the existing row rather than duplicating it,
        which makes retries safe.
      operationId: recordTitle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, title]
              properties:
                project_id:
                  type: integer
                  minimum: 1
                  description: |
                    The project's id **in the contributing institution's own
                    system**. Used to reconcile updates; meaningless here
                    otherwise.
                title: { type: string, minLength: 4, maxLength: 255 }
                abstract:
                  type: string
                  maxLength: 5000
                  description: Stored but never returned by the public lookup.
                academic_session: { type: string, maxLength: 100, example: '2026-2027' }
                year: { type: integer, minimum: 1980, maximum: 2100 }
                approved_at:
                  type: string
                  format: date-time
                  description: Defaults to now.
            example:
              project_id: 412
              title: Adaptive Irrigation Controller
              academic_session: '2026-2027'
              year: 2026
      responses:
        '201':
          description: Recorded for the first time.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RecordResult' }
        '200':
          description: An existing record for this project was updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RecordResult' }
        '401':
          description: Missing or invalid registry token.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          $ref: '#/components/responses/ValidationError'

components:
  securitySchemes:
    registryToken:
      type: http
      scheme: bearer
      description: |
        The institution's registry token, issued when its tenant is
        provisioned. Also accepted as an `X-Registry-Token` header.

        Stored only as a hash, so it cannot be recovered — reissuing is the
        remedy for a lost or leaked token, and revokes the previous one.

  schemas:
    TitleMatch:
      type: object
      required: [title, institution, similarity, is_exact]
      properties:
        title: { type: string }
        institution:
          type: string
          nullable: true
          description: The institution where the project was approved.
        academic_session: { type: string, nullable: true }
        year: { type: integer, nullable: true }
        similarity:
          type: number
          minimum: 0
          maximum: 1
          description: 0-1, where 1 is an exact normalised match.
        is_exact: { type: boolean }

    RecordResult:
      type: object
      properties:
        message: { type: string }
        data:
          type: object
          properties:
            id: { type: integer }
            title: { type: string }
            normalised_title:
              type: string
              description: Lower-cased, punctuation-stripped form used for lookups.
            year: { type: integer, nullable: true }

    Error:
      type: object
      properties:
        message: { type: string }

  responses:
    ValidationError:
      description: The request did not validate.
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
              errors:
                type: object
                additionalProperties:
                  type: array
                  items: { type: string }

security:
  - registryToken: []
